section.section.first-screen.view.bg-info.how-it-works-fox-1.pb-3
	.container-fluid
		.row.no-gutters
			video.col-5.offset-md-7.hidden-sm-down.video-animation(loop='' muted='' autoplay='' preload='auto')
				source(src=require('assets/video/animation-about-us.mp4') type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
				source(src=require('assets/video/animation-about-us.ogv') type='video/ogg; codecs="theora, vorbis"')
				source(src=require('assets/video/animation-about-us.webm') type='video/webm; codecs="vp8, vorbis"')
	.mask
		.container.h-100
			.row.h-100
				.col-md-5.col-sm-12.text-white.align-self-center
					.card
						.card-block
							h2.proxima-nova-font.my-5.text-uppercase what makes the markets tick
							p.
								Most major market moves happen either in ANTICIPATION of a fundamental news event like an interest rate decision or in REACTION to a surprising data.
							p.
								We teach you how to properly position yourselves, anticipate surprises and successfully trade out of events. Because this is where big profit opportunities lie.
