section.section.view.bg-warning.icon-bar.how-it-works-fox-2.full-height
	.container.h-100
		.row.h-100
			.col-md-4.col-sm-12.text-white.align-self-md-center
				h2.proxima-nova-font.my-5.text-uppercase How it works

				ul
					li.icon-bar-item.d-flex.flex-row
						.smartphone-icon.p-2
							img.img-fluid.mb-2(src=require('assets/img/icons/smartphone-icon.png'))
						p.p-2 Economists are hardwired to make wrong forecasts
					li.icon-bar-item.d-flex.flex-row
						.newspaper-icon.p-2
							img.img-fluid.mb-2(src=require('assets/img/icons/newspaper-icon.png'))
						p.p-2 Our applications turn macroeconomic news into actionable trading signals
					li.icon-bar-item.d-flex.flex-row
						.flag-icon.p-2
							img.img-fluid.mb-2(src=require('assets/img/icons/flag-icon.png'))
						p.p-2 The bigger the deviation from analysts forecasts, the stronger the price move in the markets