section.section.view.the-macrospike-way.how-it-works-fox-3.blue-grey.lighten-5.py-3
	.container.h-100
		.row.h-100
			.col-md-5.col-sm-12.align-self-center
				.card
					.card-block
						h2.proxima-nova-font.my-5.text-uppercase the macrospike way
						dl.macrospike-way-list
							dt Check the calendar for the next trade
							dt Read the Trade Plan
							dt
								| Set the
								+link('/fx-bolt.html','')(class="btn btn-link z-depth-0 py-0 px-2 mb-2")
									img.img-fluid(src=require('assets/img/logos/FX_bolt_logo_blue.svg') width="100")
								| or
								+link('/macrotrader.html','')(class="btn btn-link z-depth-0 py-0 px-2")
									img.img-fluid(src=require('assets/img/logos/macrotrader_logo_blue.svg') width="100")
							dt Trade the News
							dt Collect your profits
							dt Analyse the spike on MacroCharts
							dt Make your trade log
							dt Review the trade in the chatroom
							dt Start over with
								span.start-with-1 1