section.section.view.how-it-works.how-it-works-fox-3.blue-grey.lighten-5.full-height(data-height-percent="90")
	.container.h-100
		.row.h-100
			.col-md-4.col-sm-12.text-success.align-self-md-center
				h2.proxima-nova-font.my-5.text-uppercase the macrospike way