section.section.view.tradition-is-freedom.white.how-it-works-fox-4.py-3
	.container.h-100
		.row.h-100
			.col-md-5.col-sm-12.align-self-center
				.card
					.card-block
						h2.proxima-nova-font.text-uppercase.text-success.card-title trading is freedom
					.card-block
						p.card-text We are striving to give our members the financial freedom we enjoy.
						p.card-text Learning our trading approach will help you understanding global market dynamics and becoming a consistently profitable trader.
						p.card-text Just like we started one day, <strong>You Can Do It</strong>, too.