section.section.view.white.how-it-works-fox-4.full-height
	.container.h-100
		.row.h-100
			.col-md-4.col-sm-12.align-self-md-center
				h2.proxima-nova-font.my-5.text-uppercase.text-success trading is freedom
				p.lead We are striving to give our members the financial freedom we enjoy.
				p.lead Learning our trading approach will help you understanding global market dynamics and becoming a consistently profitable trader.
				p.lead Just like we started one day, <strong>You Can Do It</strong>, too.