section.section.view.hm-black-strong.intro.full-height(data-height-percent='85')
   video.vertical-center(loop='' muted='' autoplay='' preload='auto')
      source(src=require('assets/video/video.mp4') type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
      source(src=require('assets/video/video.ogv') type='video/ogg; codecs="theora, vorbis"')
      source(src=require('assets/video/video.webm') type='video/webm; codecs="vp8, vorbis"')
   .mask.flex-center
      .container
         .row
            .col-md-12.text-center
               h1.display-4.font-weight-bold.white-text.text-uppercase.proxima-nova-font
                  small don't waste time on technical indicators.
                  br
                  small start
                  span.red-text.font-family-reset trading
                  small like a
                  span.blue-text.font-family-reset professional.

               .lead.white-text.font-up.font-bold
                  | MacroSpike offers algorithmic trading applications to trade	on macroeconomic indicators like interest rate decisions,	employment and inflation data.

            .col-md-12.text-center
               button.btn.btn-primary.btn-lg.text-uppercase(type='button') How it works