section.section.view.hm-black-strong.intro.full-height
  video.vertical-center(loop='' muted='' autoplay='' preload='auto')
    source(src=require('assets/video/video.mp4') type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    source(src=require('assets/video/video.ogv') type='video/ogg; codecs="theora, vorbis"')
    source(src=require('assets/video/video.webm') type='video/webm; codecs="vp8, vorbis"')
  .mask.shape-container
    .shape.shape-pattern-3.grey.lighten-4
    .container.h-100
      .row.h-100
        .col-sm-10.mx-auto.align-self-center
          .card.z-depth-0.transparent.text-center
            .card-block.py-2
              .card-title.mb-0
                h3.font-weight-bold.white-text.text-uppercase.proxima-nova-font.h3-responsive
                  small
                    | don't waste time on technical indicators.
                    | start
                  span.text-danger
                    |  trading
                  small  like a
                  span.text-primary
                    |  professional.

            .card-block.col-sm-8.mx-auto.py-2
              p.white-text.card-text.
                MacroSpike offers algorithmic trading applications to trade	on macroeconomic
                indicators like interest rate decisions,	employment and inflation data.

            .card-block.py-2
              a.btn.btn-outline-white.btn-lg(href='#') How it works