

section.container-fluid.section.feature-box
	.row.features-small.preview
		.col-md-6.fx-bolt
			.row.h-100
				.col-md-5.col-sm-12.white-text.p-5
					object.feature-title.info__fx(data=require('assets/img/logos/FX_bolt_logo.svg') type='image/svg+xml')
					h4.feature-title Low Latency News Clicker
					ul
						li 0 ms Latency to NY4 Data Center
						li Unlimited Clicks
						li 3-Way-Trigger-System
						li Trade Probability %
						li FOREX, FUTURES, STOCKS
						li All Trading Platforms

					a.btn.btn-default.btn-block(href='#') Learn More

				.col-7.hidden-sm-down.fx-bolt-screen.p-0
					img.img-fluid.z-depth-0.m-auto(src=require('assets/img/screen/fx-bold-screen.png'))


		.col-md-6.macro
			.row.h-100
				.col-md-5.col-sm-12.white-text.p-5
					object.feature-title.info__macro(data=require('assets/img/logos/macrotrader_logo_.svg') type='image/svg+xml')
					h4.feature-title Event-Driven Algorithmic Trade Station
					ul
						li FX BOLT EA: FX BOLT with Management Feature
						li MacroStraddle EA: Straddle Trading EA
						li MacroTicks EA: Tick Tracking EA and MacroCharts Builder
						li Multi-Terminal Position Manager

					a.btn.btn-default.btn-block(href='#') Learn More

				.col-7.hidden-sm-down.macro-screen.p-0
					img.img-fluid.z-depth-0.m-auto(src=require('assets/img/screen/macro-trade-screen.png'))