section.section.jumbotron.subscribe.mb-0.pb-0
	.container
		.row
			.col-md-6
				object.d-block.info__macro(data=require('assets/img/svg/mailboxes.svg') type='image/svg+xml')
			.col-md-6.white-text
				h1.section-heading.proxima-nova-font Join our Newsletter
				form
					.row
						.col-md-7
							input.form-control.p-4(type='email' placeholder='Enter your email')
						.col-md-5
							button.btn.btn-block.btn-lg.btn-primary.p-4(type="submit") Submit
