section.section.subscribe.mb-0.pt-5.bg-primary
  .container
    .row
      .col-md-6
        .card.z-depth-0.transparent
          .card-block.pb-sm-0
            img.img-fluid.info__macro(src=require('assets/img/svg/mailboxes.svg') type='image/svg+xml' width="372" height="255")
      .col-md-6.white-text
        .card.z-depth-0.transparent
          .card-block
            h1.card-title.proxima-nova-font Join our Newsletter
          .card-block.pb-sm-0
            form
              .row
                .col-md-7.col-sm-12.mb-3
                  input.form-control.p-4(type='email' placeholder='Enter your email')
                .col-md-5.col-sm-12.mb-3
                  button.btn.btn-block.btn-lg.btn-outline-white.p-4(type="submit") Submit
