section.container.section

	#carousel-example-1.carousel.no-flex.testimonial-carousel.slide(data-ride='carousel')
		.carousel-inner(role='listbox')
			.carousel-item.active
				.testimonial
					.avatar
						img.rounded-circle.img-fluid(src='https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg', alt='First sample avatar image')
					p
						i.fa.fa-quote-left
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus
						|                         eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam vel repudiandae excepturi tenetur illo.
					h4 Anna Deynah
					h5 Founder at ET Company
			.carousel-item
				.testimonial
					.avatar
						img.rounded-circle.img-fluid(src='https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg', alt='Second sample avatar image')
					p
						i.fa.fa-quote-left
						|  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
						|                         ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					h4 Maria Kate
					h5 Photographer at Studio LA
			.carousel-item
				.testimonial
					.avatar
						img.rounded-circle.img-fluid(src='https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg', alt='Third sample avatar image')

					p
						i.fa.fa-quote-left
						|  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
						|                         anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium , totam rem aperiam, eaque ipsa quae ab illo.
					h4 John Doe
					h5 Front-end Developer in NY
		a.carousel-control-prev(href='#carousel-example-1', role='button', data-slide='prev')
			span.carousel-control-prev-icon(aria-hidden='true')
			span.sr-only Previous
		a.carousel-control-next(href='#carousel-example-1', role='button', data-slide='next')
			span.carousel-control-next-icon(aria-hidden='true')
			span.sr-only Next
