mixin promoCardIcon(text,icon)
	.card.z-depth-0.transparent
		.card-block
			- var attributes = {
			- 'class':'display-4 card-title font-weight-normal mx-auto '+icon,
			- };
			h4&attributes(attributes)
				if block
					block
			p.card-text=text


section.section
	.container
		.row
			.col-md-12
				.card-group.text-center.promo
					+promoCardIcon('Events Every Month','icon-50')
					+promoCardIcon('High Automation','icon-85')
					+promoCardIcon('Profitable Trades','icon-90')
					+promoCardIcon('Low Screen Time','icon-1')
					+promoCardIcon('Overtrading','icon-0')