$color-default: #ffd400;
$color-grey-dark: #1f1f1f;
$color-grey-light: #efefef;
$color-black: #1d1d1d;
$color-neutral: #f6f6f4;
$color-red: #ed2a21;
$color-white: #ffffff;

$black: #000000;

// Colors
$blue: #067ab4;
$dark-gray: #333333;
$medium-gray: #999999;
$light-gray: #efefef;