section.section.py-5.fast-flexible.pattern-10.grey.lighten-4
	.container
		.row
			.col-12
				h2.px-3.proxima-nova-font.h2-responsive.text-uppercase.text-primary.
					fast & flexible
			.col-sm-5
				.card.z-depth-0.transparent
					.card-block
						p.card-text.mb-sm-4.
							You are looking for a more flexible solution to manage risk on your news trades?
							Are you trading on multiple terminals and require maximum resource efficiency?
						p.card-text.mb-sm-4.
							The MacroTrader is a unique newstrading application and multi-terminal aggregator for
							Metatrader that allows you to manage multiple trading applications from a single interface.
						p.card-text.mb-sm-4.
							MacroTrader combines complex algorithmic strategies with an easy-to-use programme.
						p.card-text.mb-sm-4.
							Trading the news has never been easier and so much fun!
			.col-sm-7.p-4
				.card.z-depth-0.transparent
					img.card-img.m-auto(src=require('assets/img/screen/fast-flexible/main-min.png'))