section.section.view.introduction.full-height(data-height-percent='70')
	video.vertical-center(loop='' muted='' autoplay='' preload='auto')
		source(src=require('assets/video/video.mp4') type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
		source(src=require('assets/video/video.ogv') type='video/ogg; codecs="theora, vorbis"')
		source(src=require('assets/video/video.webm') type='video/webm; codecs="vp8, vorbis"')
	.mask.py-5.shape-container
		.shape.shape-pattern-2.pattern-10.grey.lighten-4
		.container
			.row
				.col-sm-5.white-text.align-self-md-center
					h1.display-4.font-weight-bold.proxima-nova-font.h1-responsive MacroTrader
					h4.h4-responsive Event-Driven Algorithmic Trade Station

					a.btn.btn-lg.btn-outline-white.mt-5(href="#") Sign up

				.col-sm-7.hidden-sm-down
					img.img-fluid(src=require('assets/img/screen/fast-flexible/macro-trade-screen-interface.png'))