section.section.py-5.position-manager.pattern-10.grey.lighten-4
	.container
		.row
			.col-12
				h2.px-3.proxima-nova-font.h2-responsive.text-uppercase.text-primary.
					position manager
			.col-sm-5
				.card.z-depth-0.transparent
					.card-block
						p.card-text.mb-sm-4.
							It’s easy getting caught up in the volatility that may follows a release.
							However, being controlled and aware of everything is crucial for a relaxed and successful mindset.
						p.card-text.mb-sm-4.
							MacroTrader Position Manager displays all your open orders in one window.
							You can also choose to actively manage your position from it: manually adjust SL & TP or scale out of your positions.

			.col-sm-7.p-4
				.card.z-depth-0.transparent
					img.card-img.m-auto(src=require('assets/img/screen/PositionManager-min.png'))