section.section.py-5.strategies.pattern-10.grey.lighten-4
   .container
      .row
         .col-12
            h2.px-3.proxima-nova-font.h2-responsive.text-uppercase.text-primary.
               strategies
         .col-sm-5
            .card.z-depth-0.transparent
               .card-block
                  p.card-text.mb-sm-4.
                     Being a professional newstrader requires a simple yet fast way to set up multiple terminals.
                     MacroTrader’s strategy window provides you with the interface to create a vast number of trading strategies with ease.
                  p.card-text.mb-sm-4.
                     It enables set-and-forget approaches that allow you to react to surprising news even when you are not at your desk.

               img.card-img.m-auto(src=require('assets/img/screen/Ellipse-1-copy-81-min.png'))

         .col-sm-7.p-4
            .card.z-depth-0.transparent
               img.card-img.m-auto(src=require('assets/img/screen/strategies-min.png'))