//// Material Design Colors`
$danger-color: #ff4444;
//.danger-color {
//  background-color: $danger-color !important;
//}
//
$danger-color-dark: #cc0000;
//.danger-color-dark {
//  background-color: $danger-color-dark !important;
//}
//
$warning-color: #ffbb33;
//.warning-color {
//  background-color: $warning-color !important;
//}
//
$warning-color-dark: #ffd400;
//.warning-color-dark {
//  background-color: $warning-color-dark !important;
//}
//
$success-color: #00c851;
//.success-color {
//  background-color: $success-color !important;
//}
//
$success-color-dark: #007e33;
//.success-color-dark {
//  background-color: $success-color-dark !important;
//}
//
$info-color: #33b5e5;
//.info-color {
//  background-color: $info-color !important;
//}
//
$info-color-dark: #0099cc;
//.info-color-dark {
//  background-color: $info-color-dark !important;
//}
//
//// MDB Colors
$default-color: #2bbbad;
//.default-color {
//  background-color: $default-color !important;
//}
//
$default-color-dark: #00695c;
//.default-color-dark {
//  background-color: $default-color-dark !important;
//}
//
$primary-color: #4285f4;
//.primary-color {
//  background-color: $primary-color !important;
//}
//
$primary-color-dark: #0d47a1;
//.primary-color-dark {
//  background-color: $primary-color-dark !important;
//}
//
$secondary-color: #aa66cc;
//.secondary-color {
//  background-color: $secondary-color !important;
//}
//
$secondary-color-dark: #9933cc;
//.secondary-color-dark {
//  background-color: $secondary-color-dark !important;
//}
//
$elegant-color: #2e2e2e;
//.elegant-color {
//  background-color: $elegant-color !important;
//}
//
$elegant-color-dark: #212121;
//.elegant-color-dark {
//  background-color: $elegant-color-dark !important;
//}
//
$stylish-color: #4b515d;
//.stylish-color {
//  background-color: $stylish-color !important;
//}
//
$stylish-color-dark: #3e4551;
//.stylish-color-dark {
//  background-color: $stylish-color-dark !important;
//}
//
$special-color: #37474f;
//.special-color {
//  background-color: $special-color !important;
//}
//
$special-color-dark: #263238;
//.special-color-dark {
//  background-color: $special-color-dark !important;
//}
//
$unique-color: #3f729b;
//.unique-color {
//  background-color: $unique-color !important;
//}
//
$unique-color-dark: #1c2331;
//.unique-color-dark {
//  background-color: $unique-color-dark !important;
//}
//
$mdb-color: #45526e;
//.mdb-color {
//  background-color: $mdb-color !important;
//}