// RGBA colors
// Light overlays
$rgba-blue-light: rgba(3, 169, 244, 0.3);
.rgba-blue-light {
  background-color: $rgba-blue-light !important;
  }

$rgba-red-light: rgba(244, 67, 54, 0.3);
.rgba-red-light {
  background-color: $rgba-red-light !important;
  }

$rgba-pink-light: rgba(233, 30, 99, 0.3);
.rgba-pink-light {
  background-color: $rgba-pink-light !important;
  }

$rgba-purple-light: rgba(156, 39, 176, 0.3);
.rgba-purple-light {
  background-color: $rgba-purple-light !important;
  }

$rgba-indigo-light: rgba(63, 81, 181, 0.3);
.rgba-indigo-light {
  background-color: $rgba-indigo-light !important;
  }

$rgba-cyan-light: rgba(0, 188, 212, 0.3);
.rgba-cyan-light {
  background-color: $rgba-cyan-light !important;
  }

$rgba-teal-light: rgba(0, 150, 136, 0.3);
.rgba-teal-light {
  background-color: $rgba-teal-light !important;
  }

$rgba-green-light: rgba(76, 175, 80, 0.3);
.rgba-green-light {
  background-color: $rgba-green-light !important;
  }

$rgba-lime-light: rgba(205, 220, 57, 0.3);
.rgba-lime-light {
  background-color: $rgba-lime-light !important;
  }

$rgba-yellow-light: rgba(255, 235, 59, 0.3);
.rgba-yellow-light {
  background-color: $rgba-yellow-light !important;
  }

$rgba-orange-light: rgba(255, 152, 0, 0.3);
.rgba-orange-light {
  background-color: $rgba-orange-light !important;
  }

$rgba-brown-light: rgba(121, 85, 72, 0.3);
.rgba-brown-light {
  background-color: $rgba-brown-light !important;
  }

$rgba-grey-light: rgba(158, 158, 158, 0.3);
.rgba-grey-light {
  background-color: $rgba-grey-light !important;
  }

$rgba-bluegrey-light: rgba(96, 125, 139, 0.3);
.rgba-bluegrey-light {
  background-color: $rgba-bluegrey-light !important;
  }

$rgba-black-light: rgba(0, 0, 0, 0.3);
.rgba-black-light {
  background-color: $rgba-black-light !important;
  }

$rgba-stylish-light: rgba(62, 69, 81, 0.3);
.rgba-stylish-light {
  background-color: $rgba-stylish-light !important;
  }

$rgba-white-light: rgba(255, 255, 255, 0.3);
.rgba-white-light {
  background-color: $rgba-white-light !important;
  }

// Strong overlays
$rgba-blue-strong: rgba(3, 169, 244, 0.7);
.rgba-blue-strong {
  background-color: $rgba-blue-strong !important;
  }

$rgba-red-strong: rgba(244, 67, 54, 0.7);
.rgba-red-strong {
  background-color: $rgba-red-strong !important;
  }

$rgba-pink-strong: rgba(233, 30, 99, 0.7);
.rgba-pink-strong {
  background-color: $rgba-pink-strong !important;
  }

$rgba-purple-strong: rgba(156, 39, 176, 0.7);
.rgba-purple-strong {
  background-color: $rgba-purple-strong !important;
  }

$rgba-indigo-strong: rgba(63, 81, 181, 0.7);
.rgba-indigo-strong {
  background-color: $rgba-indigo-strong !important;
  }

$rgba-cyan-strong: rgba(0, 188, 212, 0.7);
.rgba-cyan-strong {
  background-color: $rgba-cyan-strong !important;
  }

$rgba-teal-strong: rgba(0, 150, 136, 0.7);
.rgba-teal-strong {
  background-color: $rgba-teal-strong !important;
  }

$rgba-green-strong: rgba(76, 175, 80, 0.7);
.rgba-green-strong {
  background-color: $rgba-green-strong !important;
  }

$rgba-lime-strong: rgba(205, 220, 57, 0.7);
.rgba-lime-strong {
  background-color: $rgba-lime-strong !important;
  }

$rgba-yellow-strong: rgba(255, 235, 59, 0.7);
.rgba-yellow-strong {
  background-color: $rgba-yellow-strong !important;
  }

$rgba-orange-strong: rgba(255, 152, 0, 0.7);
.rgba-orange-strong {
  background-color: $rgba-orange-strong !important;
  }

$rgba-brown-strong: rgba(121, 85, 72, 0.7);
.rgba-brown-strong {
  background-color: $rgba-brown-strong !important;
  }

$rgba-grey-strong: rgba(158, 158, 158, 0.7);
.rgba-grey-strong {
  background-color: $rgba-grey-strong !important;
  }

$rgba-bluegrey-strong: rgba(96, 125, 139, 0.7);
.rgba-bluegrey-strong {
  background-color: $rgba-bluegrey-strong !important;
  }

$rgba-black-strong: rgba(0, 0, 0, 0.7);
.rgba-black-strong {
  background-color: $rgba-black-strong !important;
  }

$rgba-stylish-strong: rgba(62, 69, 81, 0.7);
.rgba-stylish-strong {
  background-color: $rgba-stylish-strong !important;
  }

$rgba-white-strong: rgba(255, 255, 255, 0.7);
.rgba-white-strong {
  background-color: $rgba-white-strong !important;
  }

// Super light overlays
$rgba-blue-slight: rgba(3, 169, 244, 0.1);
.rgba-blue-slight {
  background-color: $rgba-blue-slight !important;
  }

$rgba-red-slight: rgba(244, 67, 54, 0.1);
.rgba-red-slight {
  background-color: $rgba-red-slight !important;
  }

$rgba-pink-slight: rgba(233, 30, 99, 0.1);
.rgba-pink-slight {
  background-color: $rgba-pink-slight !important;
  }

$rgba-purple-slight: rgba(156, 39, 176, 0.1);
.rgba-purple-slight {
  background-color: $rgba-purple-slight !important;
  }

$rgba-indigo-slight: rgba(63, 81, 181, 0.1);
.rgba-indigo-slight {
  background-color: $rgba-indigo-slight !important;
  }

$rgba-cyan-slight: rgba(0, 188, 212, 0.1);
.rgba-cyan-slight {
  background-color: $rgba-cyan-slight !important;
  }

$rgba-teal-slight: rgba(0, 150, 136, 0.1);
.rgba-teal-slight {
  background-color: $rgba-teal-slight !important;
  }

$rgba-green-slight: rgba(76, 175, 80, 0.1);
.rgba-green-slight {
  background-color: $rgba-green-slight !important;
  }

$rgba-lime-slight: rgba(205, 220, 57, 0.1);
.rgba-lime-slight {
  background-color: $rgba-lime-slight !important;
  }

$rgba-yellow-slight: rgba(255, 235, 59, 0.1);
.rgba-yellow-slight {
  background-color: $rgba-yellow-slight !important;
  }

$rgba-orange-slight: rgba(255, 152, 0, 0.1);
.rgba-orange-slight {
  background-color: $rgba-orange-slight !important;
  }

$rgba-brown-slight: rgba(121, 85, 72, 0.1);
.rgba-brown-slight {
  background-color: $rgba-brown-slight !important;
  }

$rgba-grey-slight: rgba(158, 158, 158, 0.1);
.rgba-grey-slight {
  background-color: $rgba-grey-slight !important;
  }

$rgba-bluegrey-slight: rgba(96, 125, 139, 0.1);
.rgba-bluegrey-slight {
  background-color: rgba(96, 125, 139, 0.1) !important;
  }

$rgba-black-slight: rgba(0, 0, 0, 0.1);
.rgba-black-slight {
  background-color: $rgba-black-slight !important;
  }

$rgba-stylish-slight: rgba(62, 69, 81, 0.1);
.rgba-stylish-slight {
  background-color: $rgba-stylish-slight !important;
  }

$rgba-white-slight: rgba(255, 255, 255, 0.1);
.rgba-white-slight {
  background-color: $rgba-white-slight !important;
  }