section.section.py-5.calculated.bg-primary
  .container
    .row
      .col-6
        .card.z-depth-0.transparent
          .card-block
            h2.card-title.proxima-nova-font.
              Trading with Calculated Risk
            p.card-text.mb-4.
              FX BOLT initiates trades only when actual data deviates significantly from analyst forecasts.
              Triggers are set before each trade for three possible deviations and take into account various
              parameters like current market cycles and past performance. FX BOLT comes with a 3-Way-Trigger-System
              for conservative, moderate and aggressive trading.
            p.card-text.mb-4.
              In order to guarantee high-probability-trade setups, we define these triggers for our subscribes.
              Taking trades with calculated risk means looking for such opportunities that have high risk/reward
              ratios and will very likely show a profit. FX BOLT is compatible with all trading platforms and allows
              trading on unlimited accounts — all at the same time.
      .col-6
        .card.z-depth-0.transparent
          img.card-img.m-auto(src=require('assets/img/screen/calculated-desktop.png'))