section.section.view.hm-black-strong
	img.img-fluid(src=require('assets/img/overlays/Trading-floor.jpeg'))
	.mask.flex-center
		.container
			.row
				.col-sm-7
					img.img-fluid(src=require('assets/img/screen/fx-bold-main-picture.png'))

				.col-sm-5.white-text
					h1.display-4.font-weight-bold.text-uppercase.proxima-nova-font fx bolt
					h4 Low Latency News
						span.text-uppercase.proxima-nova-font.yellow-text.text-darken-2 Clicker!