section.section.introduction.py-5.shape-container
	.shape.shape-pattern-2.pattern-10.grey.lighten-4
	.container
		.row
			.col-sm-7.hidden-sm-down
				img.img-fluid(src=require('assets/img/screen/fx-bold-main-picture.png'))

			.col-sm-5.white-text
				h1.display-4.font-weight-bold.text-uppercase.proxima-nova-font.h1-responsive fx bolt
				h4.h4-responsive Low Latency News
					span.text-uppercase.proxima-nova-font.yellow-text.ml-1.text-darken-2 Clicker!
				a.btn.btn-lg.btn-outline-white.mt-5(href="#") Sign up