mixin fxboltCardIcon(text,icon)
  .col-6
    .card.z-depth-0.text-center
      img.card-img-top.w-50.m-auto(src=require('assets/img/icons/' + icon + '.svg'))
      .card-block
        p.lead=text

section.section.py-5.how-it-works
  .container
    .row
      .col-sm-8.m-auto
        h1.section-heading.proxima-nova-font.my-2.
          How FX BOLT works
        hr.divider-short.w-25.mb-5
    .row
      .col-sm-6.flex-last.flex-md-first
        .row
          +fxboltCardIcon('More than 50 news per month','more')
          +fxboltCardIcon('No Latency','noLatency2')
          +fxboltCardIcon('Economic data from all over the world','economic')
          +fxboltCardIcon('Proximity to major data centers','proximity')
      .col-sm-6
        h2.section-heading.proxima-nova-font.text-primary.mt-0.mb-4.description-title.
          Be the First
        p.lead.
          FX Bolt is a news clicker that turns economic data into
          actionable trading decisions. Each month about 50
          macroeconomic news releases impact the markets
          and lead to price spikes. Located in the NY4 data center,
          our servers transmit news without latency. This enables
          you to receive a part of the thin liquidity available before
          big price moves.
        p.lead.
          With FX BOLT you can trade macroeconomic events from
          all over the world. We trade data from economic heavyweights
          like the US or China and also from niche countries such as Norway or South Africa.