section.section.interfaces.py-5.pattern-10.grey.lighten-4
  .container
    .row
      .col-sm-8.m-auto
        h1.section-heading.proxima-nova-font.my-2.
          Enter markets automatically on surprising news events with FX BOLT - MacroSpike’s entry level tool for trading the news
    .row.pt-5
      .col-sm-6.align-self-md-center.flex-last.flex-md-first.mt-4.mt-md-0
        h1.proxima-nova-font.text-success.text-uppercase.description-title.
          buy on positive mews
        p.lead FX BOLT clicks you into a winning trade if there is a positive surprise in market data
      .col-sm-6
        img.img-fluid.z-depth-1-half(src=require('assets/img/screen/Buy.png'))

    .row.pt-5
      .col-sm-6
        img.img-fluid.z-depth-1-half(src=require('assets/img/screen/Sell.png'))
      .col-sm-6.align-self-md-center.mt-4.mt-md-0
        h1.proxima-nova-font.text-danger.text-uppercase.description-title.
          sell on negative news
        p.lead Sell when news come in worse than expected and price is about to drift lower with a wave of new sellers

    .row.pt-5
      .col-sm-6.align-self-md-center.flex-last.flex-md-first.mt-4.mt-md-0
        h1.proxima-nova-font.text-warning.text-uppercase.description-title.
          stay out of the market
        p.lead It is equally important to do nothing when no favourable risk/reward tradeoff is justifying a trade entry
      .col-sm-6
        img.img-fluid.z-depth-1-half(src=require('assets/img/screen/N-trade.png'))