section.section.interfaces.py-5.pattern-10.grey.lighten-4
  .container
    .row
      .col-8.m-auto
        h1.section-heading.proxima-nova-font.text-center.
          Enter markets automatically on surprising news events with FX BOLT - MacroSpike’s entry level tool for trading the news
    .row.py-5
      .col-6.align-self-md-center
        h1.proxima-nova-font.text-success.text-uppercase.
          buy on positive mews
        p.lead FX BOLT clicks you into a winning trade if there is a positive surprise in market data

      .col-6
        img.img-fluid(src=require('assets/img/screen/Buy.png'))

    .row.py-5
      .col-6
        img.img-fluid(src=require('assets/img/screen/Sell.png'))
      .col-6.align-self-md-center
        h1.proxima-nova-font.text-danger.text-uppercase.
          sell on negative news
        p.lead Sell when news come in worse than expected and price is about to drift lower with a wave of new sellers

    .row.py-5
      .col-6.align-self-md-center
        h1.proxima-nova-font.text-warning.text-uppercase.
          stay out of the market
        p.lead It is equally important to do nothing when no favourable risk/reward tradeoff is justifying a trade entry
      .col-6
        img.img-fluid(src=require('assets/img/screen/N-trade.png'))