section.section.member
  h2.section-heading.proxima-nova-font.text-center.my-2 Become a Member and gain access to:
  .row.no-gutters.text-white
    .col-xl-3.col-sm-6.trade-calendar
      .card.transparent.z-depth-0.pb-0.pt-sm-4
        img.card-img.pb-0.px-4(src=require('assets/img/screen/member-trade-calendar-new-min.png'))
        .card-block
          h4.card-title.proxima-nova-font.text-center Trade Calendar
          p.card-text.pt-3.lead.
            An economic calendar cleared from all the noise that shows only those events that are currently market moving.
    .col-xl-3.col-sm-6.chatroom
      .card.transparent.z-depth-0.pb-0.pt-sm-4
        img.card-img.pb-0.px-4(src=require('assets/img/screen/member-chatroom-new-min.png'))
        .card-block
          h4.card-title.proxima-nova-font.text-center Chat Room
          p.card-text.pt-3.lead.
            Exchange trade ideas with fellow traders and become part of the MacroSpike community.
    .col-xl-3.col-sm-6.macrocharts
      .card.transparent.z-depth-0.pb-0.pt-sm-4
        img.card-img.pb-0.px-4(src=require('assets/img/screen/member-macrocharts-new-min.png'))
        .card-block
          h4.card-title.proxima-nova-font.text-center MacroCharts
          p.card-text.pt-3.lead.
            The best spike charts out there. Find out what exactly happened in the markets during a release. Upload
            your own tick files and create custom charts of your brokers feed.
    .col-xl-3.col-sm-6.trade-plans
      .card.transparent.z-depth-0.pb-0.pt-sm-4
        img.card-img.pb-0.px-4(src=require('assets/img/screen/member-trade-plans-new-min.png'))
        .card-block
          h4.card-title.proxima-nova-font.text-center Trade Plans
          p.card-text.pt-3.lead.
            Detailed Trade Plans for each event. Risk and instrument recommendations. Know what to expect from every
            event.