section.section.member
	h2.section-heading.proxima-nova-font.text-center.my-2 Become a Member and gain access to:
	.row.no-gutters.text-white

		.col-xl-3.col-sm-6.trade-calendar.pt-sm-4
			.card.transparent.z-depth-0.pb-0
				.card-block
					h4.card-title.proxima-nova-font.text-center Trade Calendar
				img.card-img.pb-0.px-4(src=require('assets/img/screen/member-trade-calendar-new-min.png'))
				.card-img-overlay.px-4.mt-5
					p.card-text.lead.
						An economic calendar cleared from all the noise that shows only those events that are currently market moving.


		.col-xl-3.col-sm-6.chatroom.pt-sm-4
			.card.transparent.z-depth-0.pb-0
				.card-block
					h4.card-title.proxima-nova-font.text-center Chat Room
				img.card-img.pb-0.px-4(src=require('assets/img/screen/member-chatroom-new-min.png'))
				.card-img-overlay.px-4.mt-5
					p.card-text.lead.
						Exchange trade ideas with fellow traders and become part of the MacroSpike community.


		.col-xl-3.col-sm-6.macrocharts.pt-sm-4
			.card.transparent.z-depth-0.pb-0
				.card-block
					h4.card-title.proxima-nova-font.text-center MacroCharts
				img.card-img.pb-0.px-4(src=require('assets/img/screen/member-macrocharts-new-min.png'))
				.card-img-overlay.px-4.mt-5
					p.card-text.lead.
						The best spike charts out there. Find out what exactly happened in the markets during a release. Upload
						your own tick files and create custom charts of your brokers feed.


		.col-xl-3.col-sm-6.trade-plans.pt-sm-4
			.card.transparent.z-depth-0.pb-0
				.card-block
					h4.card-title.proxima-nova-font.text-center Trade Plans
				img.card-img.pb-0.px-4(src=require('assets/img/screen/member-trade-plans-new-min.png'))
				.card-img-overlay.px-4.mt-5
					p.card-text.lead.
						Detailed Trade Plans for each event. Risk and instrument recommendations. Know what to expect from every
						event.