section.section.member.py-5
  h2.section-heading.proxima-nova-font.text-center Become a Member and gain access to:
  .card-group
    .card.z-depth-0
      img.card-img-top.w-75.m-auto(src=require('assets/img/screen/member-trade-calendar.png'))
      .card-block
        h4.card-title.proxima-nova-font.text-center Trade Calendar
        p.card-text.
          An economic calendar cleared from all the noise that shows only those events that are currently market moving.
    .card.z-depth-0
      img.card-img-top.w-75.m-auto(src=require('assets/img/screen/member-chatroom.png'))
      .card-block
        h4.card-title.proxima-nova-font.text-center Chat Room
        p.card-text.
          Exchange trade ideas with fellow traders and become part of the MacroSpike community.
    .card.z-depth-0
      img.card-img-top.w-75.m-auto(src=require('assets/img/screen/member-macrocharts.png'))
      .card-block
        h4.card-title.proxima-nova-font.text-center MacroCharts
        p.card-text.
          The best spike charts out there. Find out what exactly happened in the markets during a release. Upload
          your own tick files and create custom charts of your brokers feed.
    .card.z-depth-0
      img.card-img-top.w-75.m-auto(src=require('assets/img/screen/member-trade-plans.png'))
      .card-block
        h4.card-title.proxima-nova-font.text-center Trade Plans
        p.card-text.
          Detailed Trade Plans for each event. Risk and instrument recommendations. Know what to expect from every
          event.