section.block
	.container
		.section-title
			.center
				h2 Browse Our Listings
		.categories-list
			.row
				.col-md-3.col-sm-3
					.list-item
						.title
							.icon
								i.fa.fa-paint-brush
							h3
								a(href='#') Arts & Humanities
						ul
							li
								a(href='') Photography
								figure.count 3
							li
								a(href='') History
								figure.count 2
							li
								a(href='') Literature
								figure.count 4
				.col-md-3.col-sm-3
					.list-item
						.title
							.icon
								i.fa.fa-suitcase
							h3
								a(href='#') Business & Economy
						ul
							li
								a(href='') Business to Business
								figure.count 6
							li
								a(href='') Finance
								figure.count 4
							li
								a(href='') Shopping
								figure.count 3
							li
								a(href='') Jobs
								figure.count 5
				.col-md-3.col-sm-3
					.list-item
						.title
							.icon
								i.fa.fa-desktop
							h3
								a(href='#') Computer & Internet
						ul
							li
								a(href='') Hardware
								figure.count 10
							li
								a(href='') Software
								figure.count 4
							li
								a(href='') Websites
								figure.count 6
							li
								a(href='') Games
								figure.count 7
				.col-md-3.col-sm-3
					.list-item
						.title
							.icon
								i.fa.fa-graduation-cap
							h3
								a(href='#') Education
						ul
							li
								a(href='') Colleges
								figure.count 8
							li
								a(href='') K-12
								figure.count 7
							li
								a(href='') Distance Learning
								figure.count 2
			.row
				.col-md-3.col-sm-3
					.list-item
						.title
							.icon
								i.fa.fa-television
							h3
								a(href='#') Entertainment
						ul
							li
								a(href='') Movies
								figure.count 6
							li
								a(href='') TV Shows
								figure.count 9
							li
								a(href='') Music
								figure.count 1
							li
								a(href='') Humor
								figure.count 4
				.col-md-3.col-sm-3
					.list-item
						.title
							.icon
								i.fa.fa-university
							h3
								a(href='#') Government
						ul
							li
								a(href='') Elections
								figure.count 3
							li
								a(href='') Military
								figure.count 2
							li
								a(href='') Law
								figure.count 6
							li
								a(href='') Taxes
								figure.count 7
				.col-md-3.col-sm-3
					.list-item
						.title
							.icon
								i.fa.fa-heart
							h3
								a(href='#') Health
						ul
							li
								a(href='') Disease
								figure.count 1
							li
								a(href='') Drugs
								figure.count 5
							li
								a(href='') Fitness
								figure.count 4
							li
								a(href='') Nutrition
								figure.count 8
				.col-md-3.col-sm-3
					.list-item
						.title
							.icon
								i.fa.fa-newspaper-o
							h3
								a(href='#') News & Media
						ul
							li
								a(href='') Newspapers
								figure.count 5
							li
								a(href='') Radio
								figure.count 9
							li
								a(href='') Weather
								figure.count 3
							li
								a(href='') Blogs
								figure.count 4