section.block
	.container
		.center
			.section-title
				.center
					h2 Recent Places
					h3.subtitle Fusce eu mollis dui, varius convallis mauris. Nam dictum id
		.row
			+listingCard(3)
			+listingCard(3)
			+listingCard(6)
			+listingCard(4)
			+listingCard(3)
			+listingCard(5)
		.center
			a.btn.btn-primary.btn-light-frame.btn-rounded.btn-framed.arrow(href='listing.html') View all listings