section.block.big-padding
	.container
		.vertical-aligned-elements
			.element.width-50
				h3 Subscribe and be notified about new locations
			// end element
			.element.width-50
				form#form-subscribe.form.form-email.inputs-underline
					.input-group
						input.form-control(type='text' name='email' placeholder='Your email' required='')
						span.input-group-btn
							button.btn(type='submit')
								i.arrow_right
					// /input-group
				// end form
			// end element
		// end vertical-aligned-elements
	// end container
	.background-wrapper
		.background-color.background-color-black.opacity-5
	// end background-wrapper
