body.faq {
  
  section.section {
    background: url("../../img/fox/FAQ.png") no-repeat fixed center bottom;
    background-size: cover;
    
    @include media-breakpoint-down(sm) {
      background: none;
      
    }
    
    &.bg-1 {
      background-color: #34495e;
    }
    
    &.bg-2 {
      background-color: #3498db;
    }
    
    &.bg-3 {
      background-color: #282a2b;
    }
    
    [data-toggle='collapse'] {
      
      &:before {
        background-color: $brand-primary;
        color: $white;
        content: "\00D7";
        display: inline-block;
        font-family: serif;
        margin-right: .5rem;
        padding: .3rem .6rem;
        position: relative;
      }
      
      &.collapsed {
        
        &:before {
          content: "+";
        }
      }
    }
    
  }
  
}