@import "../variables";
@import "../mixin";


$_text-inputs-list-autofill: (
  "input",
  "textarea",
  "select",
);

#{$_text-inputs-list-autofill}{

  &:-webkit-autofill{
    &,
    &:hover,
    &:focus{
      border: 0;
      -webkit-text-fill-color: $color-black;
      box-shadow: 0 0 0 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      background:  none;
      }
    }

  }

::-webkit-input-placeholder {
  color: rgba($black, .5);
  }
:-moz-placeholder {
  color: rgba($black, .5);
  }
::-moz-placeholder {
  color: rgba($black, .5);
  }
:-ms-input-placeholder {
  color: rgba($black, .5);
  }