body.fx-bolt {
  
  .introduction {
    background: url("../../img/overlays/Trading-floor.jpeg") no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    
    &:after {
      @include size(100%);
      background: rgba($black, .7);
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1;
      
    }
    
    .shape {
      z-index: 2;
    }
    
    .container {
      z-index: 3;
    }
  }
  
  .interfaces {
    
    .section-heading {
      font-size: 36px;
      letter-spacing: .2px;
      text-align: center;
      
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
      }
    }
    
    .description-title {
      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }
    
    .lead {
      @include media-breakpoint-down(sm) {
        font-size: 15px;
      }
    }
  }
  
  .how-it-works {
    
    .section-heading {
      font-size: 36px;
      letter-spacing: .2px;
      text-align: center;
      
      @include media-breakpoint-down(sm) {
        font-size: 24px;
        text-align: left;
      }
    }
    
    .divider-short {
      @include media-breakpoint-down(sm) {
        float: left;
      }
    }
    
    .description-title {
      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }
    
    .lead {
      line-height: 30px;
      
      @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  
  .calculated {
    color: rgba(255, 255, 255, .8);
    
    .desktop {
      display: none;
      
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
    
    .tablet {
      display: none;
      
      @include media-breakpoint-between(sm, md) {
        display: block;
      }
    }
    
    .mob {
      display: none;
      
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }
  
  .card-text {
    letter-spacing: .1px;
    line-height: 30px;
    
    @include media-breakpoint-down(sm) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  
  .institutional {
    
    .description-title {
      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }
    
    .card-img {
      height: 6rem;
      
      @include media-breakpoint-down(sm) {
        height: 5rem;
      }
    }
  }

}
