body.macrotrader {
  .introduction {

    &:after {
      @include size(100%);
      background: rgba($black, .7);
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      z-index: 1;

      }

    .mask {
      z-index: 2;
      }
    }

  .expert-advisors {

    dt.expert-advisors-list {
      font-weight: normal;

      &:before {
        content: "—";
        display: inline-block;
        margin-right: .5rem;
        position: relative;
        }
      }

    .tab-content > .active,
    .tab-content > .show {
      display: flex !important;
      }

    .nav {

      .nav-link {
        background-color: #146a98;
        border: 3px solid #146a98;
        color: #ffffff;

        &.active {
          background-color: #ffffff;
          color: #146a98;

          }
        }

      @include media-breakpoint-down(sm) {
        display: block;

        .nav-link {
          text-align: center;
          }
        }
      }
    }

  }
