#section-1 {
  color: #ffffff;
  height: 75vh;
  z-index: 1;
  }


#section-1 .parallax-layer-back {
  background-image: url("../../img/overlays/principal-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

#section-2 {
  background: #ffffff;
  position: relative;
  width: 100%;
  z-index: 2;
  }
