.pricing {
  background-color: #1a80b6;
  background-image: url("../../img/fox/fox-prising-min.png");
  background-repeat: no-repeat;
  background-position: 95% bottom;

  .fx-bolt {
    background-color: #259a9e;
  }
  .macrotrader {
    background-color: #146a98;

  }

}
