.results-wrapper {
  overflow: hidden;
  overflow-y: scroll;
  &.loading {
    .results {
      opacity:.5;
      }
    }

  .results-title {

    .results-number {

      &:before {
        content: "(";
        }

      &:after {
        content: ")";
        }
      }
    }


  .result-item {

    &:before {
      opacity:0;
      @include transit;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 5px;
      height: 100%;
      background-color: $color-default;
      }
    &:hover, &.hover-state {
      background-color: rgba($black, .05);
      &:before {
        opacity: 1;
        }
      }

    .result-item-detail {
      //position: relative;
      //display: table;

      .image {
        @include shadow;
        color: $color-white;
        width: 125px;
        height: 100px;
        background-size: cover;
        top: 0;
        left: 0;
        text-align: center;
        float: left;
        clear: both;
        position: relative;

        &:after {
          opacity:.7;
          @include gradient-black;
          background-color: rgba($black, .2);
          position: absolute;
          bottom: 0;
          left: 0;
          @include size(100%);
          content: "";
          }

        }
      }
    }
  }

