.testimonial-card {
  .card-up {
    height: 120px;
    overflow: hidden;
  }


  .card-block {
    text-align: center;
  }
}

.testimonial-carousel {
  text-align: center;

  .carousel-control {
    background-image: none;
    color: #000000;

    span {
      font-size: 5rem;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {

    &:hover {

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        border: 2px solid $brand-primary;
        border-radius: 50%;
        }
      }
    }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    @include size(2.3rem);
    }

  .carousel-control-prev-icon {
    background-image: url("../../img/svg/arrow_left_blue.svg");
    }

  .carousel-control-next-icon {
    background-image: url("../../img/svg/arrow_right_blue.svg");
    }

  .carousel-indicators {

    li {
      background: transparent;
      border: 2px solid $hr-border-color;
      border-radius: 50%;
      height: 12px;
      max-width: 12px;

      &.active {
        background-color: $brand-primary;
        }
      }
    }

  .testimonial {
    margin-left: 15%;
    margin-right: 15%;

    .avatar {
      margin-bottom: 2rem;
      @extend .flex-center;

      img {
        max-width: 170px;
        @extend .z-depth-2;
      }
    }

    h4 {
      font-weight: 500;
      margin-bottom: 1.3rem;
    }

    h5 {
      color: #424242;
      font-weight: 400;
      margin-bottom: 0.9rem;
    }

    p {
      color: #666666;
    }
  }
}
