.card-group.promo {

  .card-title {
    height: 11rem;
    width: 9rem;
    color: #1a80b6;
    background-image: url("../../img/svg/drawing.svg");
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 10rem;
  }
}