$card-title-h: 11rem;
$card-title-w: 9rem;

.card-group.promo {

  .card-title {
    height: $card-title-h;
    width: $card-title-w;
    color: #1a80b6;
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 10rem;

    &.icon-50 {
      background-image: url("../../img/icons/+50-min.png");
    }
    &.icon-85 {
      background-image: url("../../img/icons/85_-min.png");
    }
    &.icon-90 {
      background-image: url("../../img/icons/90_-min.png");
    }
    &.icon-1 {
      background-image: url("../../img/icons/1h-min.png");
    }
    &.icon-0 {
      background-image: url("../../img/icons/0_-min.png");
    }

  }

  .card-text {
    font-size: 18px;
  }
}