extends common/layout

block append content
  .container.pt-4
    +breadcrumb
    .row
      .col-sm-8
        article.card
          .card-block
            h4.card-title
              a(href='blog-detail.html')
                | Vivamus porta orci eu turpis vulputate ornare fusce hendrerit arcu risu
            .meta.text-muted
              ul.list-inline
                li.list-inline-item
                  i.fa.fa-clock-o.fa-fw
                  | 06/04/2014 |
                li.list-inline-item
                  i.fa.fa-user-o.fa-fw
                  | Autor |
                li.list-inline-item
                  i.fa.fa-comments-o.fa-fw
                  | 4 |
                li.list-inline-item
                  i.fa.fa-newspaper-o.fa-fw
                  | Categories:
                  a(href="#") Blog

          img.card-img.img-thumbnail.w-100(src=require('assets/img/items/20.jpg') alt='')
          .card-block
            p
              | Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi. In dapibus urna sit amet accumsan
              | tristique. Donec odio ligula, luctus venenatis varius id, tincidunt ac ipsum. Cras commodo,
              | velit nec aliquam dictum, tortor velit dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum
              | sagittis sapien vitae tristique mollis. Aliquam hendrerit nulla semper, viverra mi et,
              | hendrerit mauris. Maecenas hendrerit congue ultrices. In laoreet erat blandit eros aliquet,
              | in malesuada sem rutrum. In placerat porta egestas.
            h3 Parahraph Headline
            p
              | Phasellus metus ipsum, sollicitudin lacinia turpis in, pellentesque pulvinar diam.
              | Cras ultricies augue sapien, aliquam hendrerit mi suscipit at. Suspendisse vulputate felis eget
              | felis convallis fermentum et eu nulla. Donec sagittis sit amet erat non eleifend. Mauris at convallis
              | magna. Quisque pellentesque id mauris vitae placerat. Mauris facilisis odio nec metus cursus commodo.
              | Integer vel libero nunc. Donec ac lorem commodo, laoreet elit eget, tempus ante. Quisque eu nunc blandit
              | erat rutrum feugiat ac sed arcu. In nisi risus, molestie a sem adipiscing, porta volutpat velit.
              | Pellentesque nec felis sit amet nunc porta tincidunt sit amet et justo.
            h3 Parahraph Headline
            p
              | Phasellus metus ipsum, sollicitudin lacinia turpis in, pellentesque pulvinar diam.
              | Cras ultricies augue sapien, aliquam hendrerit mi suscipit at. Suspendisse vulputate felis eget
              | felis convallis fermentum et eu nulla. Donec sagittis sit amet erat non eleifend. Mauris at convallis
              | magna. Quisque pellentesque id mauris vitae placerat.
            h4 List Headline
            ul
              li Phasellus metus ipsum, sollicitudin
              li Quisque pellentesque id mauris
              li Donec ac lorem commodo
              li In nisi risus, molestie a sem adipiscing
              li Pellentesque nec felis sit amet nunc
      .col-sm-4
        include common/blog-sidebar