extends common/layout

block append content
  .container.pt-4
    +breadcrumb
    .row
      .col-sm-8
        - var n = 1;
          while n <= 12
            -var idCurrent = n++
            article.card.mb-3
              .card-block
                img.card-img.img-thumbnail.w-100.z-depth-1(src=require('assets/img/items/' + idCurrent + '.jpg') alt='')
              .card-block
                h4.card-title
                  a(href='blog-detail.html')
                    | Vivamus porta orci eu turpis vulputate ornare fusce hendrerit arcu risu

                .meta.text-muted
                  ul.list-inline
                    li.list-inline-item
                      i.fa.fa-clock-o.fa-fw
                      | 06/04/2014 |
                    li.list-inline-item
                      i.fa.fa-user-o.fa-fw
                      | Autor |
                    li.list-inline-item
                      i.fa.fa-comments-o.fa-fw
                      | #{idCurrent} |
                    li.list-inline-item
                      i.fa.fa-newspaper-o.fa-fw
                      | Categories:
                      a.badge.badge-default.z-depth-1(href="#") Blog


              .card-block
                p.card-text
                  | Fusce quis nulla volutpat, rhoncus ligula ut, pulvinar nisi. In dapibus urna sit amet accumsan
                  | tristique. Donec odio ligula, luctus venenatis varius id, tincidunt ac ipsum. Cras commodo,
                  | velit nec aliquam dictum, tortor velit dictum ipsum, sed ornare nunc leo nec ipsum. Vestibulum
                  | sagittis sapien vitae tristique mollis.

              .card-block
                a.btn.btn-primary(href='blog-detail.html') Read More
        nav(aria-label='Page navigation')
          ul.pagination.justify-content-center
            li.page-item.current-item
              span.page-link.page-number.page-numbers.current 1
            li.page-item
              a.page-link.page-link.page-number.page-numbers(href='#') 2
            li.page-item
              a.page-link.next(href='#' aria-label='Next')
                span(aria-hidden='true') »
                span.sr-only Next

      .col-sm-4
        include common/blog-sidebar