extends common/layout

block append vars
	- var bodyClass = 'subpage-detail'

block append content
	.container
		ol.breadcrumb
			li
				a(href='#') Home
			li
				a(href='#') Pages
			li.active Contact
		.row
			.col-md-9.col-sm-9
				section.page-title
					.pull-left
						h1 Marky’s Restaurant
						h3 63 Birch Street
						.rating-passive(data-rating='4')
							span.stars
							span.reviews 6
					// end page-title
					a.btn.btn-primary.btn-framed.btn-rounded.btn-light-frame.icon.scroll.pull-right(href='#write-a-review')
						i.fa.fa-star
						| Write a review
				.row
					.col-md-8.col-sm-12
						section
							.gallery.detail
								.owl-carousel(data-owl-nav='0' data-owl-dots='1')
									.image
										.bg-transfer
											img(src='assets/img/items/1.jpg' alt='')
									.image
										.bg-transfer
											img(src='assets/img/items/30.jpg' alt='')
									.image
										.bg-transfer
											img(src='assets/img/items/31.jpg' alt='')
									.image
										.bg-transfer
											img(src='assets/img/items/21.jpg' alt='')
									.image
										.bg-transfer
											img(src='assets/img/items/23.jpg' alt='')
								// end owl-carousel
							// end gallery
						section
							section
								h2 About this listing
								p
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur tristique enim, ac tincidunt
									| massa pulvinar non. Donec scelerisque libero eu tincidunt cursus. Phasellus vel commodo nunc, nec suscipit
									| enim. Integer suscipit, mauris consectetur pharetra ultrices, neque sem malesuada mauris, id tristique
									| ante leo vel magna. Phasellus ac risus vel erat elementum fringilla et non massa. Pellentesque habitant
									| morbi tristique senectus et netus et malesuada fames ac turpis egestas.
								p
									| In ut varius magna. Integer ullamcorper tincidunt molestie. Morbi consequat sem non nulla laoreet,
									| non commodo tellus elementum. Sed tincidunt, lorem vitae rhoncus pharetra, diam ex pharetra erat, eu
									| lacinia mi libero vitae lectus. Nullam cursus bibendum magna ut elementum. Fusce eget mauris in erat
									| gravida pretium sed eget massa.
									| gravida pretium sed eget massa.
						section.box
							h2 Opening Hours
							dl
								dt Monday
								dd 08:00am - 11:00pm
								dt Tuesday
								dd 08:00am - 11:00pm
								dt Wednesday
								dd 12:00am - 11:00pm
								dt Thursday
								dd 08:00am - 11:00pm
								dt Friday
								dd 03:00pm - 02:00am
								dt Saturday
								dd 03:00pm - 02:00am
								dt Sunday
								dd Closed
						section
							h2 Reviews
							.review
								.image
									.bg-transfer
										img(src='assets/img/person-02.jpg' alt='')
								.description
									figure
										.rating-passive(data-rating='4')
											span.stars
											span.reviews 6
										span.date 09.05.2016
									p
										| Donec nec tristique sapien. Aliquam ante felis, sagittis sodales diam sollicitudin, dapibus semper turpis
							// end review
							.review
								.image
									.bg-transfer
										img(src='assets/img/person-01.jpg' alt='')
								.description
									figure
										.rating-passive(data-rating='5')
											span.stars
											span.reviews 6
										span.date 09.05.2016
									p
										| Vestibulum vel est massa. Integer pellentesque non augue et accumsan. Maecenas molestie elit nibh,
										| vel vestibulum leo condimentum quis. Duis ac orci a magna auctor vehicula.
							// end review
						section#write-a-review
							h2 Write a Review
							form.clearfix.form.inputs-underline
								.box
									.comment
										.row
											.col-md-7
												.comment-title
													h4 Review your experience
												// end title
												.form-group
													label(for='name')
														| Title of your review
														em *
													input#name.form-control(type='text' name='name' placeholder='Beautiful place!' required='')
												.form-group
													label(for='message')
														| Your Message
														em *
													textarea#message.form-control(rows='8' name='message' required='' placeholder='Describe your experience')
												// end form-group
												.form-group.pull-right
													button.btn.btn-primary.btn-rounded(type='submit') Send Review
												// end form-group
											// end col-md-8
											.col-md-5
												.comment-title
													h4 Rating
												// end title
												dl.visitor-rating
													dt Comfort
													dd.star-rating.active(data-name='comfort')
													dt Location
													dd.star-rating.active(data-name='location')
													dt Facilities
													dd.star-rating.active(data-name='facilities')
													dt Staff
													dd.star-rating.active(data-name='staff')
													dt Value for money
													dd.star-rating.active(data-name='value')
											// end col-md-4
										// end row
									// end comment
								// end review
							// end form
					// end col-md-6
					.col-md-4.col-sm-12
						section
							.detail-sidebar
								section.shadow
									#map-detail.map.height-250px
									// end map
									.content
										.vertical-aligned-elements
											.element
												img(src='assets/img/logo-2.png' alt='')
											.element.text-align-right
												a.btn.btn-primary.btn-rounded.btn-xs(href='#') Claim
										hr
										address
											figure
												i.fa.fa-map-marker
												| 3858 Marion Street
												br
												| Morrisville, VT 05661
											figure
												i.fa.fa-envelope
												a(href='#') email@example.com
											figure
												i.fa.fa-phone
												| 316-436-8619
											figure
												i.fa.fa-globe
												a(href='#') www.markysrestaurant.com
							// end detail-sidebar
						section
							h2 Features
							ul.tags
								li Wi-Fi
								li Parking
								li TV
								li Alcohol
								li Vegetarian
								li Take-out
								li Balcony
						section
							h2 Social Share
							.social-share
					// end col-md-3
				// end row
			// end col-md-9
			.col-md-3.col-sm-3
				aside.sidebar
					section
						h2 Search Filter
						form.form.inputs-underline
							.form-group
								input.form-control(type='text' name='keyword' placeholder='Enter keyword')
							// end form-group
							.form-group
								select.form-control.selectpicker(name='location')
									option(value='') Location
									option(value='1') New York
									option(value='2') Washington
									option(value='3') London
									option(value='4') Paris
							// end form-group
							.form-group
								select.form-control.selectpicker(name='category')
									option(value='') Category
									option(value='1') Restaurant
									option(value='2') Event
									option(value='3') Adrenaline
									option(value='4') Sport
									option(value='5') Wellness
							// end form-group
							.form-group
								#price-slider.ui-slider(data-value-min='10' data-value-max='400' data-value-type='price' data-currency='$' data-currency-placement='before')
									.values.clearfix
										input.value-min(name='value-min[]' readonly='')
										input.value-max(name='value-max[]' readonly='')
									.element
								// end price-slider
							// end form-group
							.form-group
								button.btn.btn-primary.pull-right(type='submit')
									| Search Now
									i.fa.fa-search
							// end form-group
					section
						h2 Recent Items
						.item(data-id='1')
							a(href='detail.html')
								.description
									figure Average Price: $8 - $30
									.label.label-default Restaurant
									h3 Marky’s Restaurant
									h4 63 Birch Street
								// end description
								.image.bg-transfer
									img(src='assets/img/items/1.jpg' alt='')
								// end image
							.controls-more
								ul
									li
										a(href='#') Add to favorites
									li
										a(href='#') Add to watchlist
									li
										a.quick-detail(href='#') Quick detail
						// end item
						.item(data-id='2')
							a(href='detail.html')
								.description
									.label.label-default Restaurant
									h3 Ironapple
									h4 4209 Glenview Drive
								// end description
								.image.bg-transfer
									img(src='assets/img/items/2.jpg' alt='')
								// end image
							.controls-more
								ul
									li
										a(href='#') Add to favorites
									li
										a(href='#') Add to watchlist
									li
										a.quick-detail(href='#') Quick detail
							// end controls-more
						// end item
						.item(data-id='15')
							figure.ribbon Top
							a(href='detail.html')
								.description
									figure Happy hour: 18:00 - 19:00
									.label.label-default Bar & Grill
									h3 Bambi Planet Houseboat Bar& Grill
									h4 3857 Losh Lane
								// end description
								.image.bg-transfer
									img(src='assets/img/items/3.jpg' alt='')
								// end image
							.controls-more
								ul
									li
										a(href='#') Add to favorites
									li
										a(href='#') Add to watchlist
									li
										a.quick-detail(href='#') Quick detail
							// end controls-more
						// end item
				// end sidebar
			// end col-md-3

