extends common/layout

block append defaultTitle
  title Downloads

block vars
  - var bodyClass = 'downloads'

block append content
  section.section.view.downloads.bg-primary-darken.icon-bar.how-it-works-fox-2.py-3.full-height
    .container.h-100
      .row.h-100
        .col-md-5.col-sm-12.text-white.align-self-center
          .card.z-depth-0.transparent
            .card-block
