extends common/layout

block append defaultTitle
  title FX BOLT

block vars
  - var bodyClass = 'fx-bolt'

block append content
  include sections/fx-bolt/first-block
  include sections/fx-bolt/interfaces
  include sections/fx-bolt/how-it-works