extends common/layout

block append defaultTitle
  title FX BOLT

block vars
  - var bodyClass = 'fx-bolt'

block append content
  include sections/fx-bolt/first-block
  include sections/fx-bolt/interfaces
  include sections/fx-bolt/how-it-works
  include sections/fx-bolt/calculated
  include sections/fx-bolt/institutional
  section.section.member.pt-5
    h2.section-heading.proxima-nova-font.text-center.my-2 Become a Member and gain access to:
    include sections/member

  include sections/testimonials
  include sections/fx-bolt/order