extends common/layout

block append defaultTitle
	title How it Works

block vars
	- var bodyClass = ''

block append content
	include sections/how-it-works/first-screen
	include sections/how-it-works/how-it-works
	include sections/how-it-works/the-macrospike-way
	include sections/how-it-works/tradition-is-freedom
	include sections/how-it-works/join-us