extends common/layout

block append defaultTitle
	title MacroSpike

block contentClass
	- var contentClass = ''

block append content

	include sections/home/first-block
	include sections/home/why-macrospike
	include sections/home/preview
	include sections/home/live-performance
	include sections/home/testimonials