
extends common/layout

block append defaultTitle
  title MacroSpike

block vars
  - var bodyClass = 'home'

block append content

  include sections/home/first-block
  include sections/home/why-macrospike
  include sections/home/preview
  include sections/home/live-performance
  section.section.testimonials.py-5.pattern-10.grey.lighten-4.shape-container.full-height
    .shape.shape-pattern-3.bg-info.hidden-sm-down
    include sections/testimonials
  include sections/home/pricing
  include sections/home/subscribe