extends common/layout

block append defaultTitle
  title Login | uPages

block contentClass
  - var contentClass = 'full-height'

block append content
  .view.h-100.zindex-xs.full-bg-img
    .flex-center
      .container
        .row
          .col-md-6.col-lg-5.mx-auto
            .card
              .card-block
                .text-center.text-uppercase
                  h3 Login
                form#login-form
                  .md-form
                    i.fa.fa-envelope.prefix
                    input#username(type='username' name='username' placeholder='Your email')
                  .md-form
                    i.fa.fa-lock.prefix
                    input#password(type='password' name='password' placeholder='Your password')
                  fieldset.form-group
                    input#checkbox1(type='checkbox' checked)
                    label(for='checkbox1') Remember my
                  .text-xs-center
                    button.btn.elegant-color-dark.width-100#sign-in(type='submit') Sign In
                .text-right
                  | Немає аккаунта?
                  button.btn.btn-info.btn-sm(type='button')
                    i.fa.fa-user.left
                    | Зареєструватись

                a(href='#' data-modal-external-file='modal_reset_password.html' data-target='modal-reset-password') Відновити пароль