extends common/layout

block append defaultTitle
  title MacroTrader

block vars
  - var bodyClass = 'macrotrader'

block append content
  include sections/macrotrader/first-block
  include sections/macrotrader/fast-flexible
  include sections/macrotrader/expert-advisors
  include sections/macrotrader/strategies
  include sections/macrotrader/position-manager
  section.section.member.py-5.pattern-10.grey.lighten-4
    h2.section-heading.proxima-nova-font.text-center.my-2 SUBSCRIBE AND GAIN ACCESS TO:
    include sections/member
  section.section.testimonials.py-5.pattern-10.grey.lighten-4
    include sections/testimonials
  include sections/macrotrader/order