extends common/layout

block append defaultTitle
  title Map - uPages

block append content

  .container-fluid
    .row.no-gatters.full-height
      .col-md-8.p-0
        #map-homepage.map(data-map-container)
      .col-md-4.results-wrapper
        .row.no-gatters
          .col-sm-12.p-0
            .results.h-100
              h2.results-title.m-3 Search Results
                small.results-number.text-muted 30
              .list-group#results-content