extends common/layout

block append content
	.container
		+breadcrumb
		section.page-title
			h1 Pricing Plans
		// end section-title
		section
			.row
				.col-md-6.col-sm-6
					.section-title
						h2 What Is Included
						h3.subtitle Check what you’ll get after registration
					ul.list-unstyled.bullets
						li Praesent id diam non est molestie elementum
						li Curabitur cursus, eros vitae tempor eleifend, magna est venenatis lectus
						li a volutpat lacus tortor a sem. Class aptent taciti sociosqu
						li ad litora torquent per conubia nostra, per inceptos himenaeos.
						li Proin efficitur at diam nec pharetra
				// end col-md-6
				.col-md-6.col-sm-6
					.section-title
						h2 Why Choose Us?
						h3.subtitle What you will get
					p
						| Suspendisse gravida bibendum vestibulum. Curabitur sit amet tempus velit, ultricies hendrerit metus.
						| Proin consequat sem in neque sollicitudin euismod. Nunc vulputate facilisis urna, quis consectetur nisl
						| congue nec. Etiam tristique egestas purus, id efficitur purus tempus eget. Mauris lobortis finibus
						| diam, non tempus augue scelerisque et. Integer ultrices, magna at tincidunt iaculis, massa neque
						| pellentesque eros, non efficitur est libero nec dui.
				// end col-md-6
			// end row
		hr
		section
			.row
				.col-md-3.col-sm-3
					.pricing.box.description
						h2.opacity-30 Package
						ul
							li Email Support
							li Phone Support
							li Monthly Access to Online Training
							li Consultation Hours
							li Profile Builder
					// end pricing-box description
				// end col-md-4
				.col-md-3.col-sm-3
					.pricing.box
						h2 Silver
						figure $9.90
						ul
							li.available
								i.icon_check
							li.available
								i.icon_check
							li.not-available
								i.icon_close
							li 3 hours
							li.not-available
								i.icon_close
						a.btn.btn-primary.btn-rounded(href='#') Select
					// end pricing-box
				// end col-md-3
				.col-md-3.col-sm-3
					.pricing.box.featured
						h2 Gold
						figure $19.90
						ul
							li.available
								i.icon_check
							li.available
								i.icon_check
							li.available
								i.icon_check
							li 3 hours
							li.not-available
								i.icon_close
						a.btn.btn-default.btn-rounded(href='#') Select
					// end pricing-box
				// end col-md-3
				.col-md-3.col-sm-3
					.pricing.box
						h2 Platinum
						figure $29.90
						ul
							li.available
								i.icon_check
							li.available
								i.icon_check
							li.not-available
								i.icon_close
							li 3 hours
							li.available
								i.icon_check
						a.btn.btn-primary.btn-rounded(href='#') Select
					// end pricing-box
				// end col-md-3
		hr
		section
			.row
				.col-md-3.col-sm-3
					.pricing.description
						h2.opacity-30 Package
						ul
							li Email Support
							li Phone Support
							li Monthly Access to Online Training
							li Consultation Hours
							li Profile Builder
					// end pricing-box description
				// end col-md-4
				.col-md-3.col-sm-3
					.pricing
						h2 Silver
						figure $9.90
						ul
							li.available
								i.icon_check
							li.available
								i.icon_check
							li.not-available
								i.icon_close
							li 3 hours
							li.not-available
								i.icon_close
						a.btn.btn-primary.btn-framed.btn-rounded.btn-light-frame(href='#') Select
					// end pricing-box
				// end col-md-3
				.col-md-3.col-sm-3
					.pricing.featured
						h2 Gold
						figure $19.90
						ul
							li.available
								i.icon_check
							li.available
								i.icon_check
							li.available
								i.icon_check
							li 3 hours
							li.not-available
								i.icon_close
						a.btn.btn-primary.btn-rounded(href='#') Select
					// end pricing-box
				// end col-md-3
				.col-md-3.col-sm-3
					.pricing
						h2 Platinum
						figure $29.90
						ul
							li.available
								i.icon_check
							li.available
								i.icon_check
							li.not-available
								i.icon_close
							li 3 hours
							li.available
								i.icon_check
						a.btn.btn-primary.btn-framed.btn-rounded.btn-light-frame(href='#') Select
					// end pricing-box
				// end col-md-3