extends common/layout

block append defaultTitle
  title Реєстрація | uPages

block contentClass
  - var contentClass = 'full-height'

block append content
  .view.h-100.zindex-xs.full-bg-img
    .flex-center
      .container
        .row
          .col-md-6.col-lg-5.mx-auto
            .card
              .card-block
                .text-center.text-uppercase
                  h3 Реєстрація
                form#register-form
                  .md-form
                    i.fa.fa-address-card-o.prefix(aria-hidden='true')
                    input#first_name(type='text' name='first_name' placeholder='Ваше імя')
                  .md-form
                    i.fa.fa-address-card.prefix(aria-hidden='true')
                    input#last_name(type='text' name='last_name' placeholder='Прізвище')
                  .md-form
                    i.fa.fa-envelope.prefix
                    input#email(type='email' name='email' placeholder='Email')
                  .md-form
                    i.fa.fa-lock.prefix
                    input#password(type='password' name='password' placeholder='Пароль')
                  .md-form
                    i.fa.fa-lock.prefix
                    input#confirm_password(type='password' name='confirm_password' placeholder='Підтвердіть Пароль')
                  .text-xs-center
                    button.btn.btn-primary.width-100(type='submit') Register Now
  .carousel-fade.full-bg-img.view.hm-stylish-light#myCarousel(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner.h-100(role='listbox')
      .carousel-item.h-100.active
        img.w-100.img-fluid(src='http://upages.com.ua/wp-content/uploads/2016/09/00_listable_demojpg',
        alt='First slide')
      .carousel-item.h-100
        img.w-100.img-fluid(src='http://upages.com.ua/wp-content/uploads/2016/09/01_listable_demojpg', alt='First slide')
      .carousel-item.h-100
        img.w-100.img-fluid(src='http://upages.com.ua/wp-content/uploads/2016/09/03_listable_demojpg', alt='First slide')
    .mask.pattern-1