header#page-header.fixed-top.zindex-sm.z-depth-1

	nav.navbar.navbar-toggleable-md.navbar-inverse.bg-primary
		.container
			button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			+link('/index.html')(class="navbar-brand")
				img.d-inline-block.align-top.logo(src=require('assets/img/logos/logo.svg'))

			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav.mx-auto.text-center
					li.nav-item
						+link('/how-it-works.html','How it Works')(class="nav-link")
					li.nav-item
						+link('/tradeplan.html','Trade Plans')(class="nav-link")
					li.nav-item.dropdown
						+dropdownMenu('','Getting Started')
							+link('/newstrading.html','The Strategy')(class="dropdown-item")
							+link('/faq.html','FAQ')(class="dropdown-item")
							+link('/downloads.html','Downloads')(class="dropdown-item")
					li.nav-item.dropdown
						+dropdownMenu('','Products')
							+link('/fx-bolt.html','FX BOLT')(class="dropdown-item")
							+link('/macrotrader.html','MacroTrader')(class="dropdown-item")
					li.nav-item.dropdown
						+dropdownMenu('','Calendar')
							+link('/calendar.html','Desktop')(class="dropdown-item")
							+link('/calendar-mobile.html','Mobile')(class="dropdown-item")
					li.nav-item
						+link('/blog.html','Blog')(class="nav-link")
					li.nav-item.dropdown
						+dropdownMenu('','Member Area')
							+link('/fx-bolt.html','Chatroom')(class="dropdown-item")
							+link('/account.html','Account')(class="dropdown-item")
							+link('/macrotrader.html','Subscriptions')(class="dropdown-item")
					li.nav-item
						+link('/login.html','Login')(class="nav-link")